
main {
  margin-left: 25%;
}

h1{
  margin-left: 50px;
}
ul{
  list-style: none;
}

.bottom-section {
  color: whitesmoke;
  font-family:fantasy ;
  height: 200px;
  width:max-content ;
  border: 5px solid rgb(225, 243, 65);
  border-radius: 25px;
  background-color: rgb(64, 175, 250);
  margin-left:17%;
  padding: 5%;
  text-align: center;
  display: inline-flex;
  justify-content:space-around;
}

#contact-form{

  margin-left: 10px;

}

button {
  padding: 5px;
  background-color: white;
  border: white;
  border-radius: 5px;
  color: rgb(65, 172, 243);
}

#fname{
  border:white;
  border-radius: 2px;

}

#lname{
  border:white;
  border-radius: 2px;
}

